<mat-toolbar color="primary">
    <span>Juega con Abel</span>
</mat-toolbar>
<div class="mainContainer">
    <div class="buttonContainer">
        <button class="btnMenu" mat-flat-button color="primary">Jugar</button>
        <button class="btnMenu" mat-flat-button color="accent">Informaci&oacute;n</button>
        <button class="btnMenu" mat-flat-button color="accent">Desarrollador</button>
        <button class="btnMenu" mat-flat-button color="accent">Versi&oacute;n</button>
        <button class="btnMenu" mat-flat-button color="warn">Salir</button>
    </div>
</div>